.auth_wrapper {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

span .auth_titles {
  /* font-family: "Titillium Web", sans-serif; */
  color: red;
}

mat-card {
  margin: 2rem;
  border-radius: 8px;
}
mat-form-field,
mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
}

.auth-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
}
.tab_title {
  font-weight: 400;
  font-size: 1.3rem;
  font-family: "Titillium Web", sans-serif;
  text-shadow: 1px 3px 2px #b3bcf9;
  color: black;
}
::ng-deep .mat-tab-label.mat-tab-label-active {
  opacity: 1;
}
