<div class="auth_wrapper">
  <mat-card class="mat-elevation-z12">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab>
        <ng-template mat-tab-label>
          <h3 class="tab_title">Login</h3>
        </ng-template>
        <app-login></app-login>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <h3 class="tab_title">Register</h3>
        </ng-template>
        <app-register></app-register>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
