.basic-container {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 12px;
}
.btn_wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 417px;
  padding-left: 40px;
  padding-right: 40px;
}
.btn_wrapper button {
  width: 125px;
}
.leg_details {
  margin-right: 1rem;
}
.trip_title {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  color: #000199;
}
.title_lite {
  font-size: 0.95rem;
  font-weight: 500;
  margin-left: 8px;
  margin-right: 8px;
}
.align_via {
  display: grid;
  grid-template-columns: 230px 1fr;
}
.nudge {
  text-align: center;
}
.title_medium {
  font-size: 1.1rem;
  font-weight: 700;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
}
.day_panel .day_title {
  background-color: #e1e1e1;
}
.day_panel {
  border-top: rgb(232, 230, 230) solid 1px;
  border-bottom: rgb(232, 230, 230) solid 1px;
  padding-top: 1px;
}
.places_list .place {
  height: auto;
}
.places_list > .place:nth-child(odd) {
  background-color: #eee;
}
.weather_report {
  min-width: 120px;
  text-align: right;
  padding-right: 10px;
  padding-top: 5px;
  min-height: 70px;
}
.weather_report .wrapper {
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
}
.deg_F {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 1rem;
  vertical-align: middle;
}
.forecast_text {
  font-size: 0.9rem;
}
.day_text {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
  color: #000199;
}
.day_details {
  padding-top: 5px;
  max-width: 110px;
}
.day_arrow {
  height: 20px;
  width: 30px;
}
.time_local_color {
  color: blue;
}
.time_user_color {
  color: magenta;
}
.time_local_note, .time_user_note {
  font-size: 0.8rem;
  margin: 0 auto;
}
.time_user_note {
  margin-bottom: 5px;
}
.time_local_text {
  font-size: 1rem;
  font-weight: 500;
}
.time_user_text {
  font-size: 0.8rem;
  font-weight: 400;
  padding-left: 4px;
}
.align_times {
  display: grid;
  grid-template-columns: 73px 1fr;
}
.temperature {
  font-size: 1.5rem;
  padding: 0;
}
.truck_icon {
  position: relative;
  right: 5px;
  bottom: 5px;
}
.time_place_title {
  max-width: 180px;
}
.summary_panel {
  min-height: 86px;
  padding-top: 5px;
}
.summary_header {
min-height: 80px;
}
.summary_grid {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 25px;
}
div.summary_grid p.summary_row {
  margin: 0;
  display: grid;
}
.row_2_col {
  grid-template-columns: 98px 1fr;
}
.row_3_col {
  grid-template-columns: 98px 92px 1fr;
}
.summary_cell {
  padding-top: 4px;
}
.time_cell {
  padding-top: 6px;
}
.day_title {
  padding-bottom: 5px;
}
.btn_center {
  margin-left: auto;
  margin-right: auto;
}
.tint {
  background-color: #fcfcfc;
  box-shadow: 0 0 .4em #e7e7e7;
}
div.mat-expansion-panel-body {
  padding-bottom: 3px;
}
