.basic-container {
  margin: 15px;
}
.leg_details {
  margin-right: 1rem;
}
.title_prefix {
  font-size: 0.95rem;
}
.trip_title {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "Titillium Web", sans-serif;
}
.day_panel .day_title {
  background-color: #e1e1e1;
}
.places_list .place {
  height: auto;
}
.places_list > .place:nth-child(odd) {
  background-color: #eee;
}
.weather_report {
  min-width: 120px;
  text-align: right;
  padding-right: 10px;
  padding-top: 5px;
  min-height: 70px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.weather_report .wrapper {
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
}
.deg_F {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 1rem;
  vertical-align: middle;
}
.text {
  font-size: 0.9rem;
}
.dyno_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.temperature {
  font-size: 1.5rem;
  padding: 0;
}
