<div class="row d-flex">
  <div *ngIf="trip" class="mat-app-background basic-container">
    <div class="col h3">
      Trip Plan - {{ trip.overview.origin }} to
      {{ trip.overview.end_point }} via
      {{ trip.overview.summary }}
    </div>
    <button mat-raised-button (click)="allExpandState = !allExpandState">
      {{ allExpandState ? "Collapse All" : "Expand All" }}
    </button>

    <button mat-raised-button (click)="toggleUI()">Start a New Trip</button>

    <ng-container *ngFor="let node of trip.nodes; index as i">
      <ng-container *ngFor="let group of trip.day_nodes; index as j">
        <ng-container *ngFor="let day of trip.day_nodes[j]; index as k">
          <!-- create panel for each days travel info -->
          <mat-expansion-panel
            *ngIf="i === day && k === 0"
            [expanded]="allExpandState"
          >
            <mat-expansion-panel-header>
              <!-- create title with overview of days travel -->
              <mat-panel-title>
                <ng-container *ngIf="trip.day_nodes.length !== j + 1">
                  <p>
                    Day {{ j + 1 }} - {{ trip.nodes[i + k].cityState }} to
                    {{ trip.nodes[i + trip.day_nodes[j].length].cityState }},
                    {{ trip.nodes[i + trip.day_nodes[j].length].miles_today }},
                    {{ trip.nodes[i + trip.day_nodes[j].length].hours_today }}
                  </p>
                </ng-container>
                <!-- edge case - final destination -->
                <ng-container *ngIf="trip.day_nodes.length === j + 1">
                  <p>End of Trip - {{ trip.nodes[i + k].cityState }}</p>
                </ng-container>
              </mat-panel-title>
              <mat-panel-description>
                <span *ngIf="node.type === 'end_trip'">
                  <p>
                    Arriving
                    {{ trip.nodes[i + k].time_points[0].date_local_long }},
                    {{ trip.nodes[i + k].time_points[0].time_local }} - Total
                    miles - {{ trip.overview.total_mi }}
                  </p>
                </span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <!-- create card for each time_point of the day -->
              <ng-container *ngFor="let day of trip.day_nodes[j]; index as k2">
                <ng-container
                  *ngFor="
                    let time of trip.nodes[i + k2].time_points;
                    index as n
                  "
                >
                  <mat-list-item
                    *ngIf="
                      trip.nodes[i + k2].type === 'start_trip' ||
                      (trip.nodes[i + k2].type === 'rest_stop' && n === 1) ||
                      trip.nodes[i + k2].type === 'enroute'
                    "
                  >
                    <mat-icon
                      *ngIf="trip.nodes[i + k2].type === 'start_trip'"
                      matListIcon
                    >
                      outlined_flag
                    </mat-icon>
                    <mat-icon
                      *ngIf="trip.nodes[i + k2].type === 'enroute'"
                      matListIcon
                    >
                      fast_forward
                    </mat-icon>
                    <mat-icon
                      *ngIf="trip.nodes[i + k2].type === 'rest_stop' && n === 1"
                      matListIcon
                    >
                      alarm
                    </mat-icon>
                    <h3 matLine>
                      {{ time.time_local }} ({{ time.time_user }})
                      {{ trip.nodes[i + k2].cityState }}
                    </h3>
                  </mat-list-item>
                  <!-- edge case - show arrival for overnight stop -->
                  <mat-list-item
                    *ngIf="
                      trip.nodes[i + k2].type === 'enroute' &&
                      k2 === trip.day_nodes[j].length - 1
                    "
                  >
                    <mat-icon
                      *ngIf="trip.nodes[i + k2 + 1].type !== 'end_trip'"
                      matListIcon
                    >
                      hotel
                    </mat-icon>
                    <mat-icon
                      *ngIf="trip.nodes[i + k2 + 1].type === 'end_trip'"
                      matListIcon
                    >
                      flag
                    </mat-icon>
                    <h3 matLine>
                      {{ trip.nodes[i + k2 + 1].time_points[0].time_local }}
                      ({{ trip.nodes[i + k2 + 1].time_points[0].time_user }})
                      {{ trip.nodes[i + k2 + 1].cityState }}
                    </h3>
                  </mat-list-item>
                </ng-container>
              </ng-container>
            </mat-list>
          </mat-expansion-panel>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
