<!--<div class="row">
  <button class="mat-button">Save Trip</button>
  <button class="btn">Modify Trip</button>
  <button class="mat-flat-button" style="color:'primary';">Weather Summary</button>
  <button class="mat-stroked-button">Find Services</button>
  <button [disabled]="!enableMissile" class="btn">
      Launch Missile
    </button>
</div>

<div class="row d-flex">
  <div class="col h3">Trip Plan</div>
  <div class="form-check">
      <label class="form-check-label mr-3">
          <input type="checkbox" name="showDetails" class="form-check-input">Show Trip Details
      </label>
  </div>
  <p class="ml-4 mr-3">Weather -</p>
  <div class="form-check">
      <label class="form-check-label mr-3">
          <input type="radio" name="showWeather" class="form-check-input" checked="checked" value="threeDays">3 days
      </label>
  </div>
  <div class="form-check">
      <label class="form-check-label mr-3">
          <input type="radio" name="showWeather" class="form-check-input" value="fiveDays">5 days
      </label>
  </div>
  <div class="form-check">
      <label class="form-check-label mr-3">
          <input type="radio" name="showWeather" class="form-check-input" value="sevenDays">7 days
      </label>
  </div>
</div> -->
<div class="mat-app-background basic-container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let leg of legs; let i = index">
      <mat-expansion-panel-header *ngIf="i !== legs.length - 1">
        <mat-panel-title>
          {{ leg.start_address.city }} {{ leg.start_address.state }}
          <!-- <img class="d-inline-block" [src]="leg.image" /> -->
        </mat-panel-title>
        <div *ngIf="showDetails">
          <p class="leg_details">{{ leg.distance.text }} {{ leg.duration.text }}</p>
        </div>
      </mat-expansion-panel-header>
      <mat-expansion-panel-header *ngIf="i === legs.length - 1">
        <mat-panel-title
          >{{ leg.start_address.city }} {{ leg.start_address.state }}
          <!-- <img class="d-inline" src="{{ leg.image }}" /> -->
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
  <h4 *ngIf="legs.length === 0">No Trip Selected</h4>
</div>
