<div id="header" [ngSwitch]="btn_status">
  <img class="truckIcon" src="../../assets/images/truck.gif" />
  <h1 id="main_title">SUPER TRUCKER</h1>
  <h3 *ngSwitchCase="'form'" class="header_cell">Weather on Your Route</h3>
  <div *ngSwitchCase="'login'" class="header_cell">
    <button
      (click)="showForm()"
      type="button"
      mat-raised-button
      class="header_btn"
    >
      Free during Beta Testing
    </button>
  </div>
  <div *ngSwitchCase="'summary'" class="header_cell">
    <button
      (click)="showLogin()"
      type="button"
      mat-raised-button
      class="header_btn"
    >
      Login
    </button>
  </div>
</div>
