<div class="ui-area" [ngSwitch]="viewMode">

  <app-header [btn_status]="viewMode">
  </app-header>

  <app-user-profile *ngSwitchCase="'profile'">
  </app-user-profile>

  <app-trip-input *ngSwitchCase="'form'">
  </app-trip-input>

  <app-trip-summary *ngSwitchCase="'summary'">
  </app-trip-summary>

  <app-login-register *ngSwitchCase="'login'" [view_status]="viewMode">
  </app-login-register>

  <!-- <app-login-register *ngSwitchDefault [view_status]="viewMode">
  </app-login-register> -->
  
</div>
