<form
  [formGroup]="tripForm"
  (ngSubmit)="onTripSubmitted($event, this.tripForm, this.presets)"
  class="inputForm"
>
  <div class="item_AA">
    <button *ngIf="!isLoggedIn" (click)="showLogin()" type="button" mat-raised-button>
      Login/Register
    </button>
    <button *ngIf="isLoggedIn" (click)="logout()" type="button" mat-raised-button>
      Logout
    </button>
  </div>
  <!-- <div class="sectionText item_A">Add Options to Trip:</div>
  <mat-checkbox
    id="weather"
    class="clickInput item_B"
    formControlName="weather"
  >
    <label for="weather">Weather</label>
  </mat-checkbox>
  <mat-checkbox id="hotels" class="clickInput item_C" formControlName="hotels">
    <label for="hotels">Hotels</label>
  </mat-checkbox>
  <mat-checkbox
    id="truck_stops"
    class="clickInput item_D"
    formControlName="truck_stops"
  >
    <label for="truck_stops">Truck Stops</label>
  </mat-checkbox> -->
  <div class="item_A">
    <button
      (click)="showMoreLess()"
      id="settings_btn"
      type="button"
      mat-raised-button
    >
      {{ advInputVisible ? "Less Settings" : "More Settings" }}
    </button>
  </div>
  <div
    class="item_B"
    [ngClass]="advInputVisible ? 'item_B_jump' : 'item_B_not_jump'"
  >
    <button
      id="create_route_btn"
      type="submit"
      class="createRoute item"
      color="primary"
      mat-raised-button
      [disabled]="!tripForm.valid"
    >
      Create Route
    </button>
  </div>
  <div class="sectionText item_F" [ngClass]="{ hideToStart: !advInputVisible }">
    Popular Settings:
  </div>
  <mat-radio-group class="item_G" [ngClass]="{ hideToStart: !advInputVisible }">
    <mat-radio-button
      type="radio"
      id="average"
      class="item_H clickInput"
      value="average"
      (click)="useQuickPick(this.presets.average)"
    >
      <label for="average">Pope Francis</label>
    </mat-radio-button>
    <mat-radio-button
      type="radio"
      id="fast"
      class="item_I clickInput"
      value="fast"
      (click)="useQuickPick(this.presets.fast)"
    >
      <label for="fast">Blues Brothers</label>
    </mat-radio-button>
    <mat-radio-button
      type="radio"
      id="team"
      class="item_J clickInput"
      [ngClass]="{ hideToStart: !advInputVisible }"
      value="team"
      (click)="useQuickPick(this.presets.team)"
    >
      <label for="team">Super Team</label>
    </mat-radio-button>
  </mat-radio-group>
  <mat-form-field class="item_N">
    <input
      matInput
      placeholder="Starting Point"
      id="origin"
      formControlName="origin"
    />
    <mat-error> Please enter a valid city name </mat-error>
  </mat-form-field>
  <mat-form-field class="item_O">
    <input
      matInput
      placeholder="Destination"
      id="end_point"
      formControlName="end_point"
    />
    <mat-error> Please enter a valid city name </mat-error>
  </mat-form-field>
  <div
    class="item_P"
    [ngClass]="{
      item_P_short: !advInputVisible,
      item_P_tall: advInputVisible,
      highLight: advInputVisible,
      'mat-elevation-z2': advInputVisible
    }"
  >
    <mat-form-field
      [ngClass]="{
        item_Q: !advInputVisible,
        item_Q_jump: advInputVisible
      }"
    >
      <input
        (change)="
          this.inputService.adjustSpeedMiHrs(
            $event,
            this.tripForm,
            this.presets
          )
        "
        matInput
        placeholder="Miles Per Day"
        id="miles_per_day"
        type="number"
        min="500"
        max="2472"
        step="20"
        formControlName="miles_per_day"
      />
      <mat-error> Miles per day must be at least 100 </mat-error>
    </mat-form-field>
    <mat-form-field
      hintLabel="Miles per hour"
      [ngClass]="{
        hideToStart: !advInputVisible,
        item_R: !advInputVisible,
        item_R_jump: advInputVisible
      }"
    >
      <input
        (change)="
          this.inputService.adjustSpeedMiHrs(
            $event,
            this.tripForm,
            this.presets
          )
        "
        matInput
        placeholder="Average Speed"
        id="avg_speed"
        type="number"
        min="45"
        max="103"
        formControlName="avg_speed"
      />
    </mat-form-field>
    <mat-form-field
      [ngClass]="{
        hideToStart: !advInputVisible,
        item_S: !advInputVisible,
        item_S_jump: advInputVisible
      }"
    >
      <input
        matInput
        placeholder="Hours Driving Per Day"
        (change)="
          this.inputService.adjustSpeedMiHrs(
            $event,
            this.tripForm,
            this.presets
          )
        "
        id="hours_driving"
        type="number"
        min="1"
        max="24"
        step="0.25"
        formControlName="hours_driving"
      />
    </mat-form-field>
  </div>

  <mat-form-field
    [ngClass]="{
      item_T: !advInputVisible,
      item_T_jump: advInputVisible
    }"
  >
    <input
      (focus)="cancelTimeRefresh()"
      (dateChange)="cancelTimeRefresh()"
      matInput
      [ngxMatDatetimePicker]="picker"
      placeholder="Departure Date/Time"
      id="depart_time"
      formControlName="depart_time"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
    <ngx-mat-datetime-picker
      (dateChange)="cancelTimeRefresh()"
      #picker
      [showSpinners]="showSpinners"
      [showSeconds]="showSeconds"
      [stepHour]="stepHour"
      [stepMinute]="stepMinute"
      [stepSecond]="stepSecond"
      [touchUi]="touchUi"
      [color]="color"
      [enableMeridian]="enableMeridian"
    >
    </ngx-mat-datetime-picker>
  </mat-form-field>
  <mat-form-field
    [ngClass]="{
      item_TT: !advInputVisible,
      item_TT_jump: advInputVisible
    }"
  >
    <mat-label>Home Time Zone</mat-label>
    <select matNativeControl formControlName="timezone_city" id="timezone_city">
      <option *ngFor="let item of selections" [selected]="false" [value]="item">
        {{ item }}
      </option>
    </select>
  </mat-form-field>
</form>
