.container1 {
  display: grid;
  grid-template-columns: 496px 1fr ;
  margin: 0;
  overflow: hidden;
}
.mapWrapper {
  resize: vertical;
}
.size_1 {
  height: 100vh;
}
.size_2 {
  height: 99%;
}
.uiWrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  overflow: auto;
}